	body {
		padding: 20px;
		font-family: 'Quicksand', sans-serif;
	}

	h1 {
		font-size: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #565264;
		color: #D55672
	}

	h2 {	
		color: #D496A7
	}

	h3 {
		color: #565264
	}
	.images-curved-edges {
		border-radius: 25px;
		margin-top: 5px;
		width: 350px;
		padding: 10px;
	}

	nav a {
		text-decoration: none; 
		padding: 10px;
		border: 2px solid #D496A7;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	a:hover {
		background-color: #D496A7;
	}


