
h1{
	font-size:50px;
	margin: 5px;
}

h2{	
	color:orange;
}

.images {
	border-radius: 25px;
	margin-top: 10px;
	width: 400px;
}

nav a {
	text-decoration: none; 
	padding: 10px 10px 10px 0px;
}

a:hover {
	background-color: orange
}
body {
	padding:20px;
	font-family: 'Quicksand', sans-serif;
}

